body {
  font-family: 'Open sans';
  margin: 0px;
  padding: 0px;
  background-color: #95a5a6;
}
body #all {
  background-color: #ecf0f1;
  box-shadow: 0px 0px 10px rgba(255,255,255,0.5);
  width: 800px;
  margin: auto;
}
body #all h1 {
  margin: 0px;
  padding: 20px;
  background-color: #e67e22;
  color: #fff;
  background-image: url("/static/plane.png");
  background-repeat: no-repeat;
  background-position: 20px center;
  padding-left: 100px;
}
body #all #content {
  padding: 10px;
}
body #all table {
  border-collapse: collapse;
}
body #all table td.f {
  padding-left: 10px;
  border-left: 1px solid #808080;
}
body #all table td.a {
  padding-right: 10px;
}
body #all .result .destination {
  display: inline-block;
  width: 50%;
}
body #all .result .description {
  display: inline-block;
  font-size: 12px;
}
body #all .aller,
body #all .retour {
  padding-left: 10px;
}
